* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.card .btn {
    align-items: center;
    width: 100px;
    border-radius: 2rem;
}

.list-card {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card-text {
    /* text alipsis */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.detail .btn {
    width: 150px;
}